<template>
    <div class="container mt-5">
        <div class="col-12 text-center">
            <h1>Sammy Bro</h1>
        </div>
    </div>
</template>

<script>
export default {
    name: "Home"
}
</script>

<style scoped>

</style>
