<template>
    <div class="row">
        <div class="col-12 mb-2 text-end">
            <router-link :to='{name:"addEvent"}' class="btn btn-primary">Create</router-link>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>event</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody v-if="event.length > 0">
                            <tr v-for="(event,key) in events" :key="key">
                                <td>{{ event.id }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.description }}</td>
                                <td>{{ event.start_date }}</td>
                                <td>{{ event.end_date }}</td>
                                <td>
                                    <router-link :to='{name:"eventEdit",params:{id:event.id}}' class="btn btn-success">Edit</router-link>
                                    <button type="button" @click="deleteevent(event.id)" class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                            <tbody v-else>
                            <tr>
                                <td colspan="4">No Events Found.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"List",
    data(){
        return {
            events:[]
        }
    },
    mounted(){
        this.getEvents()
    },
    methods:{
        async getEvents(){
            await this.axios.get('/api/event').then(response => {
                this.event = response.data
            }).catch(error=>{
                console.log(error)
                this.event = []
            })
        },
        deleteEvent(id){
            if(confirm("Are you sure to delete this event ?")){
                this.axios.delete(`/api/event/${id}`).then(response => {
                    this.getEvents()
                }).catch(error=>{
                    console.log(error)
                })
            }
        }
    }
}
</script>
